@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}


/*---------Colors---Blue: #048BA8-----Green: #26A96C--------Orange: #F18F01----------*/

.container {
    width: 500px;
    margin: 20px auto;
}

.header {
    background-color: #26A96C;
    text-align: center;
    border-radius: 20px;
    padding: 1.75rem;
}

.header h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.20rem;
    color: #fff;
}

.date {
    background-color: #000000;
    color: rgb(209, 209, 209);
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
    padding: 0.75rem 2rem .75rem 0;
}

ul.currencies {
    height: calc(100vh - 40px - 100px - 40px - 57px);
    background-color: #222;
    padding: 0 1.5rem 1rem 1.5rem;
    list-style: none;
    padding: 0 1.5rem 1rem 1.5rem;
    overflow-y: auto;
}

ul.currencies li {
    background-color: #555555;
    border-radius: 5px;
    padding: 1rem 1rem .75rem 1rem;
    margin-bottom: 1rem;
    position: relative;
}

ul.currencies li:last-child {
    margin-bottom: 0;
}

ul.currencies li.base-currency {
    background-color: #264d73;
}

.flag {
    vertical-align: top;
    width: 40px;
    height: 40px;
}

.info {
    display: inline-block;
    width: 78%;
}

.info .input span {
    font-size: 1.5rem;
    display: inline-block;
    width: 4rem;
    text-align: center;
}

.info .input input {
    font-size: 1.5rem;
    width: 78%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 0.3rem;
    margin-bottom: .75rem;
}

.info .currency-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
}

.info .base-currency-rate {
    font-size: 0.8rem;
    margin-left: 4rem;
}

ul.currencies li .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .5rem;
    font-size: 1.5rem;
    color: #666;
    cursor: pointer;
}

ul.currencies li .close:hover {
    color: #ffffff;
}

.add-currency-btn {
    background-color: #0171E2;
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-top: 3px solid #222;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.25s;
    z-index: 15;
}

ul.currencies::-webkit-scrollbar {
    width: 5px;
}

ul.currencies::-webkit-scrollbar-thumb {
    background-color: #2d2d37;
    border-bottom: 1rem solid #222;
}